.avis {
  &__title {
    @include title;
    text-align: center;
  }

  &__average {
    @include title-little;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    gap: 2rem;

    @include respond(tab-port) {
      flex-wrap: wrap;
    }
  }

  &__title::before {
    content: "";
    background: url("../../assets/svg-icons/sprite.svg#");
  }
}
