.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  &__input {
    display: block;
    margin-bottom: 1.6rem;
    padding: 1.8rem 3.2rem;
    @include text;
    font-family: inherit;

    // RESET
    border: var(--border-grey);
    background-color: var(--color-white);
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-grey-light);
    }
  }

  &__textarea {
    display: block;
    padding: 1.8rem 3.2rem;
    margin-bottom: 1.6rem;
    @include text;
    font-family: inherit;

    // RESET
    resize: none;
    border: var(--border-grey);
    background-color: var(--color-white);
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-grey-light);
    }
  }

  &__submit {
    cursor: pointer;
    margin-top: 0.8rem;
    align-self: center;
    color: var(--color-white);

    border: none;
    &:focus {
      outline: none;
    }

    &--footer {
      color: var(--color-black);
    }
  }
}

.wpcf7-form-control-wrap {
  width: 100%;
}

.wpcf7 {
  width: 100% !important;

  .form__input {
    width: 100% !important;
  }

  .form__textarea {
    width: 100% !important;
  }

  .wpcf7-not-valid-tip {
    margin-top: -1rem !important;
    margin-bottom: 2rem !important;
    font-size: 1.6rem !important;
  }

  .wpcf7-response-output {
    font-size: 1.6rem !important;
    border-radius: 1rem !important;
    padding: 1rem 1.6rem !important;
    margin: 0 !important;
    color: #46b450 !important;
  }
}
