.processus {
  color: var(--color-white);

  &__title {
    @include title;
  }

  &__desc {
    @include text;
  }

  &__iframe {
    width: 100%;
    height: 45rem;
    border-radius: 2.8rem;
  }

  &__read-more {
  }
}
