.container {
  width: 86%;
  margin: 0 auto;
  max-width: 120rem;

  // @include respond(tab-port) {
  //   width: 88%;
  // }

  &--navigation {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-land) {
      max-width: none;
    }
  }

  &--contact-us {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-land) {
      justify-content: center;
      display: block;
    }
  }

  &--footer {
    display: flex;
  }

  &--small {
    width: 71%;
    @include respond(tab-land) {
      width: 86%;
    }
  }

  &--blog-article-nav {
    @include respond(tab-land) {
      width: 100%;
      max-width: none;
    }
  }
}

.main {
  position: relative;
}
