.header {
  display: flex;
  flex-direction: column;

  &--full-height {
    min-height: 100vh;
  }

  &__content {
    flex: 1;
    //background-image: url("/img/header-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 10%;
      width: 100%;
      background-image: linear-gradient(to bottom,
              var(--color-white) 0%,
              var(--color-white) 0%,
              transparent 100%
      );
      z-index: 115;
    }
  }

  &__text {
    margin: 12rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
  }

  &__title {
    position: relative;
    z-index: 116;
    text-align: center;

    font-size: 3.6rem;
    // margin-bottom: 2.8rem;
    // letter-spacing: 2px;

    span {
      background-color: var(--color-primary);
      color: var(--color-grey-light-3);
      padding: 0.8rem 1.6rem;
      box-decoration-break: clone;
    }
  }

  &__desc {
    position: relative;
    z-index: 116;
    width: 70%;
    text-align: center;

    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-medium);
    // margin-bottom: 2.8rem;

    span {
      background-color: rgba(3, 31, 62, 0.8);
      color: var(--color-grey-light-4);
      padding: 0.8rem 1.6rem;
      line-height: 1.97;
      box-decoration-break: clone;
    }
  }
}
